<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataLearning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5130AEB1D43BF2D009B3F23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5130B021D43BF2D009B3F23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5130B0D1D43BF2D009B3F23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
